body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
  text-align: center;
}

.btn {
  background: #0077cc;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.busCard {
  background: white;
  border-radius: 12px;
  padding: 10px;
  margin: 10px auto;
  width: 260px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
