body {
  font-family: Arial;
  text-align: center;
  background: #eef6ff;
  margin: 0;
  padding: 0;
}

.btn {
  display: block;
  padding: 12px;
  margin: 10px auto;
  width: 260px;
  background: #0078ff;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

.hidden { display: none; }

#loader {
  position: fixed;
  top:0;left:0;
  width:100%;height:100%;
  background:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
}

iframe {
  width:100%;
  height:90vh;
  border:none;
}
